$color-primary : #3B2D38;
$color-primary-medium : tint($color-primary, 30%);
$color-primary-light : tint($color-primary, 60%);

$color-secondary : #F02475;
$color-secondary-medium : tint($color-secondary, 30%);
$color-secondary-light : tint($color-secondary, 60%);

$color-alternate : #3498DB;
$color-alternate-medium : tint($color-alternate, 30%);
$color-alternate-light : tint($color-alternate, 60%);

