           
<div class="module-datas" ng-controller="ProjectSheetListCtrl"  ng-init="init(config.defaultResultLimit, false)">
    <div class="module-search">
        <ng-include ng-init="objectType='project'" onload="objectType='project'" src="'views/catalog/block/search.html'"></ng-include>
    </div>
    <ng-include src="'views/catalog/block/list_counter.html'" ></ng-include>

    <ul class="module-grid">
        <li class="module-item"  ng-repeat="projectsheet in projectsheets">
            <ng-include src="'views/catalog/block/project_thumb.html'" ng-init="project=projectsheet.project; cover=projectsheet.cover"></ng-include>
        </li>
    </ul>

    <div class="module-map">
        <div class="map" ng-controller="ImaginationProjectsMapCtrl">
            <leaflet id="projectsmap" defaults="defaults" markers="markers" center="center" height="550px" ></leaflet>
        </div>
    </div>        
    
    <ng-include src="'views/catalog/block/list_counter.html'"></ng-include>
</div>

