
	<h3 style="display:none">{{project.begin_date|date : format : shortdate}}
	    <img ng-src="{{ config.media_uri }}{{ project.progress.icon }}" alt="{{project.progress.label}}">
	</h3>
    <div class="module-item-thumbnail">
		<a ui-sref="project.detail({ slug: project.slug })">
            <div ng-if="cover" class="module-item-image" style="
	    		background-image:url('{{ config.media_uri }}{{ cover.thumbnail_url}}');
				background-size : cover;		
    		"></div>
    		<div ng-if="!cover" class="module-item-image" style="
	    		background-image:url('http://placehold.it/300x300');
				background-size : cover;		
    		"></div>
        </a>
    </div>
    <div class="module-item-content">
	    <h4 class="module-item-title"><a ui-sref="project.detail({ slug: project.slug })">{{project.title}}</a></h4>
	    <h5 ng-if="project.by">Par
	        <a ui-sref="profile.detail({slug:project.by.profile_slug})">
	            {{project.by.full_name}}
	        </a>
	    </h5>
	    <p class="module-item-description small">{{ project.baseline }}</p>	
    </div>
    

